<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">
    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #929fba"
    >
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">
                            APNE
                        </h6>
                        <p>
                            Une putain d'assos qui sert a protéger la planète contre les
                            voiture diesel trop bg sa mère
                        </p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Pages</h6>
                        <p>
                            <a class="text-white">Shop</a>
                        </p>
                        <p>
                            <a class="text-white">News</a>
                        </p>
                        <p>
                            <a class="text-white">Contact</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                        <p><i class="fas fa-home mr-3"></i> Tours, 37000, France</p>
                        <p><i class="fas fa-envelope mr-3"></i> emre@emre.com</p>
                        <p><i class="fas fa-phone mr-3"></i> +33 7 67 94 19 03</p>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

                        <!-- Facebook -->
                        <a
                                class="btn btn-primary btn-floating m-1"
                                style="background-color: #3b5998"
                                href="#!"
                                role="button"
                        ><i class="fab fa-facebook-f"></i
                            ></a>

                        <!-- Twitter -->
                        <a
                                class="btn btn-primary btn-floating m-1"
                                style="background-color: #55acee"
                                href="https://www.linkedin.com/in/emre-ersoy-a92565197/"
                                role="button"
                        ><i class="fab fa-twitter"></i
                            ></a>

                        <a
                                class="btn btn-primary btn-floating m-1"
                                style="background-color: #ac2bac"
                                href="#!"
                                role="button"
                        ><i class="fab fa-instagram"></i
                            ></a>


                    </div>
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->
        </div>
        <!-- Grid container -->


    </footer>
    <!-- Footer -->
</div>
<!-- End of .container -->