    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #308C58; margin-top: 5% "
    >
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">
                            APNE
                        </h6>
                        <p>
                            Association étudiante de protection de la nature et de l'environnement à Tours.
                        </p>
                    </div>
                    <!-- Grid column -->
                    <hr class="w-100 clearfix d-md-none" />
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Pages</h6>
                        <p>
                            <a class="text-white" href="{{ path('products') }}">Shop</a>
                        </p>
                        <p>
                            <a class="text-white">News</a>
                        </p>
                        <p>
                            <a class="text-white">Contact</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                        <p><i class="fas fa-home mr-3"></i> Faculté des Sciences et Techniques,
                            Bureau F04
                            Parc Grandmont 37200</p>
                        <p><i class="fas fa-envelope mr-3"></i> apne@mailo.com</p>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

                        <!-- Facebook -->
                        <a
                                class="btn btn-primary btn-floating m-1"
                                style="background-color: #82DDFF;padding:3px;width: 40px;height:40px;"
                                href="https://fr-fr.facebook.com/Association-APNE-1087144597983439/"
                                role="button"
                        ><img src="/images/logo/logo_fb.png" style="width: 30px; height: 30px;">
                        </a>

                        <!-- Instagram -->
                        <a
                                class="btn btn-primary btn-floating m-1"
                                style="background-color: #FF9882;padding:3px;width: 40px;height:40px;"
                                href="https://www.instagram.com/asso_apne.tours/"
                                role="button"
                        ><img src="/images/logo/logo_instagram.png" style="width: 30px; height: 30px;">
                        </a>

                        <a
                                class="btn btn-primary btn-floating m-1"
                                style="background-color: #A4BDFF;padding:3px;width: 40px;height:40px;"
                                href="https://discord.com/invite/VD3cCdm5sY"
                                role="button"
                        >
                            <img src="/images/logo/logo_discord.png" style="width: 30px; height: 30px;"></a>


                    </div>
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->
        </div>
        <!-- Grid container -->


    </footer>
    <!-- Footer -->
</div>
<!-- End of .container -->
