.header {
    color:white;
    width: 100vw;
    margin-left: 0px;
    margin-right: 0px;
    line-height:200px;
    top: 0px;
    left: 0px;
    z-index: 990;
    color:white;
    width: 100vw;
    line-height:200px;
    background-attachment: fixed;
    background-size: 100vw;
    margin:0px;
}


@media (min-width:500px) {
    .header {
        color:white;
        width: 100vw;
        margin-left: 0px;
        margin-right: 0px;
        line-height:200px;
        top: 0px;
        left: 0px;
        z-index: 999;
        color:white;
        width: 500px;
        line-height:200px;
        background-attachment: fixed;
        background-size: 100px;
        padding:0px;
        margin:0px;
    }
}

@media (max-width:500px) {
    .header {
        padding:50px;
    }
}
