<!DOCTYPE html>
<html>
    <head>

<!-- Bootstrap Static Header -->
    <div style="background:url({{ asset('src/images/apne.png') }}) no-repeat top;
            color:white;
            width: auto;
            line-height:200px;
            background-attachment: fixed;
            background-size: 100vw;" class="header imghead jumbotron bg-cover text-white">
        <div class="headIN py-1 text-center">
            <h1 style="padding:50px; margin:0px;" class="display-4 font-weight-bold">APNE</h1>
        </div>
    </div>



        {% block header %}
            {% include 'base/navbar.html.twig'%}
        {% endblock %}

        <meta charset="UTF-8">
        <title>{% block title %}APNE{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('header') }}
        {% endblock %}







        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>


    <body>

    





    <!-- DEMO
    <div class="container py-5">
        <h2 class="h3 font-weight-bold">Some demo content</h2>
        <div class="row">
            <div class="col-lg-10 mb-4">
                <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
                <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
            </div>
            <div class="col-lg-8">
                <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur <strong class="font-weight-bold text-dark">adipisicing elit, sed </strong>do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in <strong class="font-weight-bold text-dark">reprehenderit in voluptate </strong>velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>      -->







    {% block body %}{% endblock %}
    </body>

    <footer>
        {% include 'base/footer.html.twig'%}

    </footer>
</html>
