{% extends 'base.html.twig' %}

{% block body %}


    {% for post in post %}
        <div class="card text-center">

            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content | u.truncate(200, '...', false) }}</p>
                <a href="#" class="btn btn-primary">Suite de l'article</a>
            </div>
            <div class="card-footer text-muted">
                <time> Ajoutée le {{ post.date|date('d/m/Y') }}</time>
            </div>
        </div>
    {% endfor %}
    <div class="d-flex justify-content-center">
        {% do post.setPageRange(4) %}
        {{ knp_pagination_render(post, 'base/pagination.html.twig') }}
    </div>
    </section>
{% endblock %}